* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    text-align: center;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #290023;
}

main {
    background-color: #EFFFEB;
    padding: 15px;
}

section {
    padding: 15px;
}

article{
    padding: 15px;
}
img{
    padding: 10px;
    float: left;
    width: 20%;
    height: 45%;
    object-fit: contain;
    border-radius: 8px;

}

@media screen and (max-width: 800px) {
    img {
        float: left;
        width: 40%;
        height: 60%;
        object-fit: cover;
    }
}

/* Style the top navigation bar */
nav {
    overflow: hidden;
    background-color: #3B2E61;
}

/* Style the topnav links */
nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    width: 25%;
}
nav a:nth-child(1) {
    /* Change the first button of nav colours */
    background: #3B2E61;
    border-radius: 3px;
    border-color: #3B2E61;
}
nav a:nth-child(2) {
    /* Change the second button of nav colours */
    background: #086375;
    border-radius: 3px;
    border-color: #086375;
}
nav a:nth-child(3) {
    /* Change the third button of nav colours */
    background: #16A286;
    border-radius: 3px;
    border-color: #16A286;
}
nav a:nth-child(4) {
    /* Change the fourth button of nav colours */
    background: #3B2E61;
    border-radius: 3px;
    border-color: #3B2E61;
}

/* Change color on hover */
nav a:nth-child(1):hover {
    background-color: #9483C3;
    color: black;
}
nav a:nth-child(2):hover {
    background-color: #40D4F2;
    color: black;
}
nav a:nth-child(3):hover {
    background-color: #6FEBD3;
    color: black;
}
nav a:nth-child(4):hover {
    background-color: #9483C3;
    color: black;
}

/* Style the footer */
footer {
    background-color: #1DD3B0;
    padding: 10px;
    color: #520045;
}

/* On screens that are 600px or less, */
@media screen and (max-width: 600px) {
    /* Style the topnav links */
    nav a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: left;
        padding: 14px 14px;
        text-decoration: none;
        width: 50%;
    }
}